<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后! -->

    <title>登录《ginadmin》管理中心</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/login.css">

    <script type="text/javascript">
        if (self.parent.frames.length !== 0) self.parent.location = document.location;
    </script>
</head>
<body>

<div class="login-main">
    <header class="layui-elip">登录</header>
    <form class="layui-form">
        <div class="layui-input-inline">
            <input type="text" name="account" lay-verify="required" placeholder="账号" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" name="password" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
        </div>

        <div class="layui-input-inline login-btn">
            <button lay-submit lay-filter="btnLogin" class="layui-btn">登录</button>
        </div>
    </form>
</div>


<script src="/static/js/app.js"></script>
<script src="/static/js/md5.js"></script>
<script src="/static/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['layer', 'form', 'jquery'], function() {
        const form = layui.form;
        const $ = layui.jquery;


        form.on('submit(btnLogin)', function(obj) {
            const data = obj.field;
            data['password'] = hex_md5(data['password']);

            request($, 'login', data, function (res, xhr) {
                if (xhr) {
                    console.log("返回响应信息:", xhr.responseText);
                    layer.msg("网络繁忙, 访问失败");
                    return;
                }
                res = JSON.parse(res);
                if (res.code === 1) {
                    location.href = "index";
                }else{
                    layer.msg(res.msg);
                }
            }, 'post');

            return false;
        });
    });
</script>

</body>
</html>
